@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400&family=Yeseva+One&display=swap");

*,
body {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

img {
  width: 100%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  letter-spacing: 1px;
}
.container {
  width: 80%;
  margin: auto;
}
.half-width {
  width: 50%;
}
.flex-area {
  display: flex;
}
span {
  color: #601fe9;
}

.button {
  background-color: #6c28ca;
  padding: 14px 30px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10px;
}
.button:hover {
  background-color: #4c0aa8;
  transition: 0.5s;
}
/* Global CSS END */

.focused-area,
.mymission,
.develop-area,
.community-area,
.skilled-area {
  margin: 30px 0;
}

/* About me CSS Start */
.image-area img {
  width: 80%;
}
.header-image {
  margin-left: 150px;
  margin-top: 50px;
}
.about-me {
  margin-top: 100px;
}
.about-me h1 {
  padding-top: 10px;
  padding-left: 15px;
  font-family: "Yeseva One", cursive;
}
.about-me h1 {
  border-left: 5px solid #ff5959;
}
.about-me p {
  padding: 30px 5px;
  width: 90%;
}

.scrool-content {
  padding: 60px 0;
}

/* About me CSS Ends */

/** Mission Area Start **/

.mymission h2 {
  text-align: center;
  padding-bottom: 50px;
}

.mission-item {
  width: 32%;
  padding: 40px 40px;
  margin-left: 10px;
  margin: 20px 10px;
  border-radius: 16px;
}
.mission-item h3 {
  font-size: 25px;
  padding: 10px 0;
}
.mission-item img {
  width: 40%;
}
.mission {
  background-color: #5ac5d3;
}
.vision {
  background-color: #fff4d6;
}
.goals {
  background-color: #5ac5d3;
}
/* Mission Area End*/

/* Community Area Start*/
.community-area,
.develop-area {
  margin: 60px 0;
}
.content-area p {
  margin: 30px 0;
  font-size: 17px;
}
.develop-area .content-area,
.community-area .content-area {
  margin-top: 50px;
}

.community-area .image-area {
  margin-left: 50px;
}

/* Community Area End*/

/* Skilled Area Start*/

.skill-item {
  box-shadow: 2px 0px 16px rgb(158 153 153);
  padding: 20px;
  margin: 15px;
  border-radius: 8px;
  width: 30%;
}

.skill-item img {
  width: 30%;
  float: left;
  margin-right: 20px;
}
.skill-item h3 {
  margin: 20px 0;
  font-size: 22px;
}

/* Skilled Area End*/

/* Footer Area Start*/

footer {
  background: #000;
  text-align: center;
  padding: 40px 0;
  color: #ffffff;
}
.footer-area h2 {
  font-family: "Yeseva One", cursive;
}
.footer-area p,
.footer-area a {
  font-size: 15px;
  color: #4b5353;
}
/* Footer Area End*/
