@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,500;1,700&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
  letter-spacing: 1px;
}
.container {
  width: 80%;
  margin: auto;
}
.half-width {
  width: 50%;
}
.flex-area {
  display: flex;
}
span {
  color: #601fe9;
}
.image-area img {
  width: 80%;
}
.header-image {
  margin-left: 150px;
  margin-top: 40px;
}

.mission-area {
  margin-top: 100px;
}
.mission-area h1 {
  padding-left: 15px;
}
.mission-area h1 {
  border-left: 5px solid #ff5959;
  height: 150px;
}
.mission-area p {
  padding: 30px 5px;
  width: 90%;
}
.button {
  background-color: #6c28ca;
  padding: 14px 30px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 10px;
}
.scrool {
  padding: 60px 0;
}

/** Second Section **/

.whatismymission h2 {
  text-align: center;
  padding-bottom: 50px;
}

.mission-item {
  width: 32%;
  padding: 40px 40px;
  margin-left: 10px;
  margin: 20px 10px;
  border-radius: 16px;
}
.mission-item h3 {
  font-size: 25px;
  padding: 10px 0;
}
.mission-item img {
  width: 40%;
}
.mission {
  background-color: #edf5f6;
}
.vision {
  background-color: #ffeeee;
}
.goals {
  background-color: #fff4d6;
}
.community-area,
.develop-area {
  margin: 60px 0;
}
.develop-area .image-area {
  background: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
}
.content-area p {
  margin: 30px 0;
  font-size: 17px;
}
.develop-area .content-area,
.community-area .content-area {
  margin-top: 50px;
}

.community-area .image-area {
  margin-left: 50px;
  background: url(images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: right;
}

footer {
  background: #000;
  text-align: center;
  padding: 40px 0;
  color: #fff;
}
.footer-area p {
  font-size: 15px;
  color: #bec0c0;
}
